body {
	background-image: url("../img/background.png");
	background-repeat:repeat;
	font-family: 'Fjalla One', sans-serif;
	font-size:17px;
	padding-top: 51px;
}
.div_info_margin{
    margin-left: 130px;
    float: none;
}

.jogador{
    background-color: #101010;
    height: 150px;
    margin: 0px auto;
    margin-top: 30px;
    float: none !important;
    color: #fff;
    padding: 20px;
}
.info_jogador{
    background-color: #222222;
    height: 50px;
    margin:0px auto !important;
    float: none !important;
    color: #fff;

}

.jogador h3{
    margin: 0 0 20px 0;
}

.body-dark{
    background-image: url("../img/background-opacity-dark-dark.png");
    background-repeat:repeat;
}

.form-registre{
    color: #ffffff;
}

.container-sport:hover, .jogador:hover{
    -ms-transform: scale(1.025); /* IE 9 */
    -webkit-transform: scale(1.025); /* Safari */
    transform: scale(1.025);
}

.iconcolorblue{
	color:#10c5e5;
}
.iconcolorred {
	color:#d63232;
}
.iconcolorblack {
	color:black;
}

.textwhiteborderblack {
	color:black;
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;	
}

.navbar-brand {
	padding:0px !important;
}

.navbar-inverse .navbar-nav > li > a {
  color:white !important;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color:#10c5e5 !important;
}

.colorblue {
    background-color:#043740;
}

.fototime{
	padding:10px;
}

.thumbnail-inverse {
  background-color: #222;
  border-color: #080808;
}

.textwhite {
	color:white;
}

.textwhite2 {
	color:white;
	font-family: 'PT Sans Narrow', sans-serif !important;
}

.navbar-right {
	margin-right:5px !important;
}

.login-panel { 
    min-width: 250px; 
    border-top: 14px solid white;

    border-bottom-right-radius:0.5em;
    -moz-border-radius-bottomright:0.5em;
    border-bottom-left-radius:0.5em;
    
    }

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad {
    margin-top:20px;
   
}

.panel-heading {
    background-color: #222222 !important;
    color: white !important;
}

.panel{ border-color: #222222 !important;}

.form-group-top{
    margin-top: 50px;
}

