._1pxx{padding:46px 0 200px;text-align:center}._1pxy{font-size:24px;line-height:28px;margin:40px 0 20px}
.sp_vAWWLbXBEvw{background-image:url(/rsrc.php/v3/y2/r/GdlzVjXbS26.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_vAWWLbXBEvw.sx_2b9d55{background-position:0 0}.sp_vAWWLbXBEvw.sx_139d14{background-position:0 -21px}

#bootloader_BjjYZ{height:42px;}.bootloader_BjjYZ{display:block!important;}