._1i5g{position:relative}._1i5h{color:#fff;left:11px;position:absolute;top:11px}._1i5i{padding-right:4px;vertical-align:bottom}._1i5j{margin-bottom:-2px}._1i5k{position:absolute;right:0;top:0}._1i5l{text-align:center}._1i5p{padding:0 24px}._hoe{-webkit-filter:brightness(0) invert(1)}
._20nn{left:-1px;top:0}._1g8y{left:0;top:0}._20no{left:-3px;top:0}

#bootloader_G9cuP{height:42px;}.bootloader_G9cuP{display:block!important;}