._s2_{border-bottom:1px solid #ccc}._s32{margin:0 8px -2px 0}._s33{display:inline}
.sp_e0_GFqkH6AC{background-image:url(/rsrc.php/v3/yN/r/HRacKobqmit.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_e0_GFqkH6AC.sx_b8f7f8{background-position:0 0}.sp_e0_GFqkH6AC.sx_fc8578{background-position:0 -21px}

#bootloader_G8x0X{height:42px;}.bootloader_G8x0X{display:block!important;}