._29ux{display:inline-block}._29uy{background-color:#f5f7f8;line-height:16px}._29uz{display:inline-block;font-size:14px;font-weight:bold}

#bootloader_iNopo{height:42px;}.bootloader_iNopo{display:block!important;}