body{
	background-image: url("../img/background.png");
	background-repeat:repeat;

}

*{ box-sizing:border-box; }

  .container{
    min-height: 100%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  .form-register{
    display:flex;
    flex-direction: column;
    background-color: #e8f0ff;
	background-image: url("../img/pattern8-pattern-44a.png");
	
	background-repeat:repeat;
    border-radius:5px;
	border-style: double;
	border-color: black;
	border-width:5px;
    width:400px;
    min-height: 300px;
    padding:30px;
  }
  
  .form-group { display: flex; justify-content: space-between; align-items: center; }
  .form-group label{ flex:1; color:white; }
  .form-group input{ flex:4; border-radius:5px; padding:6px; }
  
 h2 {
	color:#10c5e5;
	text-shadow: 0 0 0px black;
	margin-bottom:30px;
	font-family: 'Oswald', sans-serif;
 }

 label {
	 color: #10c5e5 !important;
	 text-shadow: 0 0 0px black;
 }
 
 .botaoCadastro {
 	background-color:#10c5e5 !important;
	border-color:#10c5e5 !important;
	margin: 0 auto;
	display: block;
	width:100px;
	height:40px;
	color: #fff;
	margin-top:40px !important;
 }
 
 
 button(:hover, :focus){
    background-color:#098196 !important;
	border-color:#098196 !important;
	color:#fff; 
}