@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
	background-image: url("../img/background.png");
	background-repeat:repeat;
	font-family: 'Fjalla One', sans-serif;
	font-size:17px;
	color:white;
	}


.div-register {
	margin-top:36%;
    background-color:#222;
    padding-top: 50px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 50px;
    border-radius: 15px;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
 color:white !important;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}